nav {
  background-image: linear-gradient(#c4e0e5, #4ca1af);
}

a {
  color: #152b2f !important;
}

a.active {
  font-weight: bold;
}

input:focus {
  color: black;
}

.vertical-center {
  min-height: 90vh;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

input {
  min-width: 50vh;
}

form {
  margin: 5px;
}

.account {
  margin: 5px;
}

.form-container {
  background-color: aliceblue;
  margin: 5px;
}

.profile {
  height: 100%;
  width: 100%;
  padding: 5px;
  border: 1px solid transparent;
  border-radius: 10px;
  background-color: aliceblue;
}

.page {
  display: flex;
  justify-content: space-between;
}

.edit {
  font-weight: bold;
}

#loading {
  z-index: 99;
  position: absolute;
  top: 10vh;
}

#main {
  background-image: linear-gradient(#4ca1af, #c4e0e5);
}

#myTab a.active {
  background-color: transparent;
  border-bottom: 1px solid #5aa8b5;
}
