.nav {
  background-color: aliceblue !important;
}

a {
  color: #6610f2 !important;
}

a.active {
  font-weight: bold;
}

.vertical-center {
  min-height: 90vh;
  display: flex;
  align-items: center;
  justify-content: space-around;
  background-color: #9ec5fe;
}

input {
  min-width: 50vh;
}

form {
  margin: 5px;
}

.account {
  margin: 5px;
}

.form-container {
  background-color: aliceblue;
  margin: 5px;
}

.profile {
  height: 100%;
  width: 100%;
  padding: 5px;
  border: 1px solid transparent;
  border-radius: 10px;
  background-color: aliceblue;
}

.card {
  margin: 1rem;
}

.page {
  display: flex;
  justify-content: space-between;
}

.edit {
  font-weight: bold;
}
