.nav {
  background-color: aliceblue !important;
}

a {
  color: #6610f2 !important;
}

a.active {
  font-weight: bold;
}

.vertical-center {
  min-height: 80vh;
  display: flex;
  align-items: center;
  justify-content: space-around;
  background-color: #9ec5fe;
}

input {
  min-width: 50vh;
}

form {
  margin: 5px;
}

.account {
  margin: 5px;
}

.form-container {
  background-color: aliceblue;
  margin: 5px;
}
